<!DOCTYPE html>
<html lang="en">
<head>
    <title>Animals</title>
    <meta charset="UTF-8">
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar">
        <button onclick="window.location.href='/Map'" class="nav-button">Map</button>
        <button onclick="window.location.href='/Booking'" class="nav-button">Bookings</button>
        <input onclick="window.location.href='/'" class="nav-logo" type="image" src="/static/RZALogo.png" alt="Logo">
        <button onclick="window.location.href='/ContactUs'" class="nav-button">Contact Us</button>
        {% if logged_in %}
            <button onclick="window.location.href='/Account'" class="nav-button">My Account</button>
        {% else %}
            <button onclick="window.location.href='/LogIn'" class="nav-button login">Log In</button>
        {% endif %}    </nav>
</body>
<section class="animals-showcase">
    <h2>Meet Our Animals</h2>
    <div class="animal-grid">

        <div class="animal-card">
            <img src="/static/buffalo.png" alt="African Buffalo">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>African Buffalo</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/AfricanBuffalo'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/elephant.png" alt="African Elephant">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>African Elephant</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/AfricanElephant'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/african_lion.png" alt="African Lion">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>African Lion</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/AfricanLion'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/african_painted_dog.png" alt="African Painted Dog">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>African Painted Dog</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/AfricanPaintedDog'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/african_penguin.png" alt="African Penguin">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>African Penguin</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/AfricanPenguin'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/black_rhinoceros.png" alt="Black Rhinoceros">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Black Rhinoceros</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/BlackRhinoceros'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/cheetah.png" alt="Cheetah">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Cheetah</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Cheetah'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/eland.png" alt="Common Eland">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Common Eland</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/CommonEland'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/giraffe.png" alt="Giraffe">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Giraffe</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Giraffe'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/hippopotamus.png" alt="Hippopotamus">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Hippopotamus</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Hippopotamus'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/impala.png" alt="Impala">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Impala</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Impala'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/kudu.png" alt="Kudu">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Kudu</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Kudu'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/meerkat.png" alt="Meerkat">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Meerkat</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Meerkat'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/white_rhinoceros.png" alt="White Rhinoceros">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Northern White Rhinoceros</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/WhiteRhinoceros'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/ostrich.png" alt="Ostrich">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Ostrich</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Ostrich'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/okapi.png" alt="Okapi">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Okapi</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Okapi'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/warthog.png" alt="Warthog">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Warthog</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/Warthog'">Learn More</button>
                </div>
            </div>
        </div>

        <div class="animal-card">
            <img src="/static/zebra.png" alt="Grant's Zebra">
            <div class="animal-overlay">
                <div class="animal-text">
                    <h3>Zebra</h3>
                    <button class="learn-button" onclick="window.location.href='/Animals/GrantsZebra'">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>
</html>