<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booking</title>
    <meta charset="UTF-8">
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar">
        <button onclick="window.location.href='/Map'" class="nav-button">Map</button>
        <button onclick="window.location.href='/Booking'" class="nav-button">Bookings</button>
        <input onclick="window.location.href='/'" class="nav-logo" type="image" src="/static/RZALogo.png" alt="Logo">
        <button onclick="window.location.href='/ContactUs'" class="nav-button">Contact Us</button>
        {% if logged_in %}
            <button onclick="window.location.href='/Account'" class="nav-button">My Account</button>
        {% else %}
            <button onclick="window.location.href='/LogIn'" class="nav-button login">Log In</button>
        {% endif %}
</nav>

<div>
    <form method="POST">
        <label>
            What Type of Ticket
            <select name="ticket_type">
                <option>Adult</option>
                <option>Child</option>
                <option>Senior</option>
                <option>Family</option>
            </select>
        </label>
        <label>
            How Many
            <input type="number" name="number">
        </label>
        <input type="hidden" id="roomyes" name="roomyes" value="none">
        <input type="hidden" id="roomno" name="roomno" value="none">

        <button type="submit">Book</button>
    </form>

    {% if booked == True %}

        <form>
            <input type="hidden" id="roomyes" name="roomyes" value="True">
            <input type="hidden" id="roomno" name="roomno" value="none">

            <button type="submit">Yes</button>
        </form>

        <form>
            <input type="hidden" id="roomno" name="roomno" value="False">
            <input type="hidden" id="roomyes" name="roomyes" value="none">
            <button type="submit">No</button>
        </form>
    {% endif %}

</div>
</body>
</html>