<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Zoo Explorer</title>
</head>
<body>
    <nav class="navbar">
        <button onclick="window.location.href='/Map'" class="nav-button">Map</button>
        <button onclick="window.location.href='/Booking'" class="nav-button">Bookings</button>
        <input onclick="window.location.href='/'" class="nav-logo" type="image" src="/static/RZALogo.png" alt="Logo">
        <button onclick="window.location.href='/ContactUs'" class="nav-button">Contact Us</button>
        <button onclick="window.location.href='/LogIn'" class="nav-button login">Log In</button>
    </nav>

<section class="animals-experiences">
    <!-- Animals -->
    <div class="info-block">
        <h2 class="section-title">Animals</h2>
        <div class="image-container">
            <img class="lion" src="/static/lion.png" alt="Lion">
            <div class="overlay">
                <div class="overlay-text">
                    <h2>Discover the Wild</h2>
                    <p>Explore our amazing animals waiting to meet you!</p>
                    <button class="view-button" onclick="window.location.href='/Animals'">View More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2 class="section-title">Experiences</h2>
        <div class="image-container">
            <img class="experience-img" src="/static/SafariJeep.png" alt="Safari Experience">
            <div class="overlay">
                <div class="overlay-text">
                    <h2>Safari Adventures</h2>
                    <p>Join guided tours, feed the animals, and experience the wild up close.</p>
                    <button class="view-button" onclick="window.location.href='/Experiences'">View More</button>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
