<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar">
        <button onclick="window.location.href='/Map'" class="nav-button">Map</button>
        <button onclick="window.location.href='/Booking'" class="nav-button">Bookings</button>
        <input onclick="window.location.href='/'" class="nav-logo" type="image" src="/RZA%20Logo.png" alt="Logo">
        <button onclick="window.location.href='/ContactUs'" class="nav-button">Contact Us</button>
        <button onclick="window.location.href='/LogIn'" class="nav-button login">Log In</button>
    </nav>
</body>
</html>